In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [3]:
df = pd.read_csv('./Base_datos_Reciclaje.csv')

df.head()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede
0,2019-01-28,Cobre,0,Metales,Recuperar,NaN
1,2019-02-28,Cobre,0,Metales,Recuperar,NaN
2,2019-03-28,Cobre,0,Metales,Recuperar,NaN
3,2019-04-28,Cobre,0,Metales,Recimed,NaN
4,2019-05-28,Cobre,3,Metales,Recimed,NaN

In [9]:
sheet = 'Robledo'

recimed = pd.read_excel('./Data/recimed.xlsx', sheet_name=sheet)

recimed

,MATERIAL,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE
0,ACERO,0.0,3.0,0.0,0.0,10.9,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,ALUMINIO KARLA,0.0,0.0,0.0,0.0,8.4,0.0,0.0,0.0,7.1,NaN,NaN,9.00
2,ALUMINIO LIMPIO,0.0,22.0,3.2,0.0,0.9,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,COBRE ROJO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,COBRE AMARILLO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5,ARCHIVO,16.8,66.8,235.0,192.8,163.1,86.2,101.2,0.0,202.8,139.0,152.0,221.20
6,CARTON,95.4,83.1,287.6,57.0,389.9,37.0,75.4,94.8,175.1,128.8,162.4,102.00
7,CHATARRA,642.6,378.0,511.3,493.4,381.7,48.6,113.4,318.4,23.2,15.8,NaN,888.00
8,PALOS,19.0,17.0,27.0,7.0,1.0,0.0,0.0,0.0,32.0,13.0,34.0,4.25
9,PASTA,33.0,80.0,106.8,73.6,182.0,23.4,0.0,38.4,60.0,NaN,39.8,71.40
10,PVC,82.2,0.0,16.0,5.6,23.0,0.0,0.0,155.8,41.6,NaN,NaN,NaN
11,PERIODICO,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,1.2,6.2,NaN,NaN
12,PET,28.0,77.0,133.0,25.0,138.7,40.0,53.8,22.4,93.7,62.0,81.2,64.00
13,PET CAFE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
14,PET ACEITE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
15,PET VERDE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
16,PLÁSTICO,26.4,72.7,81.3,16.2,39.5,3.2,15.5,5.2,61.8,5.6,17.4,4.00
17,PLEGADIZA,47.0,58.4,170.6,17.8,174.4,19.8,53.1,1.2,86.8,54.8,85.6,27.20
18,TETRAPAK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
19,VASO DESECHABLE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
20,VIDRIO,31.0,59.0,110.6,24.4,181.4,70.2,72.0,22.2,138.8,88.8,150.4,80.20

In [5]:
recimed['MATERIAL']

0               ACERO
1      ALUMINIO KARLA
2     ALUMINIO LIMPIO
3          COBRE ROJO
4      COBRE AMARILLO
5             ARCHIVO
6              CARTON
7            CHATARRA
8               PALOS
9               PASTA
10                PVC
11          PERIODICO
12                PET
13           PET CAFE
14         PET ACEITE
15          PET VERDE
16           PLÁSTICO
17          PLEGADIZA
18           TETRAPAK
19    VASO DESECHABLE
20             VIDRIO
Name: MATERIAL, dtype: object

In [6]:
year = '2022'

calendar = {
    'ENERO': '01',
    'FEBRERO': '02',
    'MARZO': '03',
    'ABRIL': '04',
    'MAYO': '05',
    'JUNIO': '06',
    'JULIO': '07',
    'AGOSTO': '08',
    'SEPTIEMBRE': '09',
    'OCTUBRE': '10',
    'NOVIEMBRE': '11',
    'DICIEMBRE': '12'
}

In [7]:
recimeDict = {
    'Fecha': list(),
    'Nombre_Material': list(),
    'Cantidad_kg': list(),
    'Nombre_Categoria': list(),
    'Operador_logistíco': list(),
    'Sede': list()
}

zero = 0
for i in range(0, recimed['MATERIAL'].count(), 1):
    for k,v in calendar.items():
        # FECHA
        recimeDict['Fecha'].append(year + '-' + v + '-28')
        # MATERIAL
        if (recimed['MATERIAL'][i].split(' ')[0] == 'ALUMINIO') or (recimed['MATERIAL'][i].split(' ')[0] == 'COBRE'):
            material = recimed['MATERIAL'][i].split(' ')[0].capitalize()
            recimeDict['Nombre_Material'].append(material)
        elif recimed['MATERIAL'][i] == 'PLEGADIZA':
            material = 'Plega'
            recimeDict['Nombre_Material'].append(material)
        elif (recimed['MATERIAL'][i] == 'PET') or (recimed['MATERIAL'][i] == 'PVC'):
            material = recimed['MATERIAL'][i]
            recimeDict['Nombre_Material'].append(material)
        else:
            material = recimed['MATERIAL'][i].capitalize()
            recimeDict['Nombre_Material'].append(material)
        # CATEGORIA DEL MATERIAL
        if material in ['Acero', 'Aluminio', 'Cobre','Chatarra']:
            recimeDict['Nombre_Categoria'].append('Metal')
        elif material in ['Vidrio']:
            recimeDict['Nombre_Categoria'].append('Vidrio')
        elif material in ['PET', 'Plastico']:
            recimeDict['Nombre_Categoria'].append('Plastico')
        elif material in ['Plega', 'Tetrapack','Periódico','Catón','Archivo']:
            recimeDict['Nombre_Categoria'].append('Papeles y Cartones')
        else:
            recimeDict['Nombre_Categoria'].append('Otros')
        # CANTIDAD EN KG
        if str(recimed.iloc[i][k]) != 'nan':
            recimeDict['Cantidad_kg'].append(recimed.iloc[i][k])
        else:
            recimeDict['Cantidad_kg'].append(0)
        # ZERO
        zero += 1

recimeDict['Operador_logistíco'] = ['Recimed' for i in range(0, zero, 1)]
recimeDict['Sede'] = [sheet for i in range(0, zero, 1)]

recimeDF = pd.DataFrame(recimeDict)
recimeDF.tail()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede
247,2022-08-28,Vidrio,22.2,Vidrio,Recimed,Robledo
248,2022-09-28,Vidrio,138.8,Vidrio,Recimed,Robledo
249,2022-10-28,Vidrio,88.8,Vidrio,Recimed,Robledo
250,2022-11-28,Vidrio,150.4,Vidrio,Recimed,Robledo
251,2022-12-28,Vidrio,80.2,Vidrio,Recimed,Robledo

In [8]:
for i in range(0, zero, 1):
    df.loc[i + df['Fecha'].count()] = recimeDF.iloc[i]

df.tail()

,Fecha,Nombre_Material,Cantidad_kg,Nombre_Categoria,Operador_logistíco,Sede
1641,2022-08-28,Vidrio,22.2,Vidrio,Recimed,Robledo
1643,2022-09-28,Vidrio,138.8,Vidrio,Recimed,Robledo
1645,2022-10-28,Vidrio,88.8,Vidrio,Recimed,Robledo
1647,2022-11-28,Vidrio,150.4,Vidrio,Recimed,Robledo
1649,2022-12-28,Vidrio,80.2,Vidrio,Recimed,Robledo

## Danger

In [ ]:
df.to_csv('./Data/Base_datos_Reciclaje_Final.csv')